body {
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 500px;
    width: 90%;
}

.container:hover {
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

header {
    background-color: #c00;
    color: white;
    padding: 5px;
    font-size: 12px;
    border-radius: 10px 10px 0 0;
}

.input-section {
    margin: 20px 0;
}

p {
    font-size: 20px;
    color: #333;
}

.slider-container {
    position: relative;
    width: 100%;
}

input[type="range"] {
    width: 100%;
    margin: 10px 0;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background: #ddd;
    height: 5px;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: #c00;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease;
}

input[type="range"]::-webkit-slider-thumb:hover {
    transform: scale(1.2);
}

.scale {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #666;
    margin-top: -8px;
}

.result {
    font-size: 20px;
    font-weight: bold;
    color: #c00;
    margin: 20px 0;
    background: rgba(255, 0, 0, 0.1);
    padding: 10px;
    border-radius: 8px;
}

.cta-button {
    background: linear-gradient(135deg, #c00, #900);
    color: white;
    border: none;
    padding: 14px 24px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.cta-button:hover {
    background: linear-gradient(135deg, #900, #600);
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}
.form-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1000;
}

.form-container input {
    display: block;
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#submitForm, #closeForm {
    background: #c00;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#closeForm {
    background: gray;
}

/* design for interested.html */

