/* feedback_form.css */

/* Body */
body {
    font-family: Arial, sans-serif;
    background-image: url('../images/userbg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Keeps the background image fixed while scrolling */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

/* Form Styles */
form {
    margin-top: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group textarea {
    height: 150px;
}

.btn-container {
    text-align: center; /* Add this block */
    margin-top: 20px; /* Adjust margin as needed */

}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #943b3b;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 250px;
}

.btn:hover {
    background-color: #e39595;
    color: #301414;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.pink-background {
    background-color: #803D3B;
}